spring:
  datasource:
    url: jdbc:mysql://localhost:3306/smart_home
    username: enter-your-mysql-user-name
    password: enter-your-mysql-password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: enter-mail-id-through-which-you-want-to-send-otp
    password: app-password-of-above-mail-id, not-mail-id-password

    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  web:
    error:
      include-message: always
jwt:
  secret-key: this-key-you-can-choose-any-random-but-large-enough-not-to-get-break-by-brute-force